<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.lunab.yywiki.mapper.WikiMapper">
	
	<!-- Wiki VO resultMap -->
	<resultMap type="xyz.lunab.yywiki.domain.WikiVO" id="wikiMap">
		<result property="wiki_id" column="wiki_id"/>
		<result property="title" column="title"/>
		<result property="permission_id" column="permission_id"/>
	</resultMap>
	
	<!-- selectWiki -->
	<select id="selectWiki" resultType="xyz.lunab.yywiki.domain.WikiVO">
		SELECT *
		FROM wiki
		WHERE title = #{title}
	</select>
	
	<!-- selectRandomWiki -->
	<select id="selectRandomWikiList" resultMap="wikiMap">
		SELECT *
		FROM wiki
		ORDER BY rand() 
		LIMIT 5
	</select>
	
	<!-- insertWiki -->
	<insert id="insertWiki">
		INSERT
		INTO wiki (wiki_id, title, permission_id)
		VALUES (#{wiki_id}, #{title}, #{permission_id})
	</insert>
	
	<select id="selectPermission" resultType="String">
		SELECT permission_id
		FROM wiki
		WHERE wiki_id = #{wiki_id}
	</select>
	
	<!-- selectCurrentContent-->
	<select id="selectCurrentContent" resultType="xyz.lunab.yywiki.domain.WikiContentVO">
		SELECT *
		FROM wiki_content
		WHERE wiki_id = #{wiki_id}
		ORDER BY regdate DESC
		LIMIT 1
	</select>
	
	<!-- selectUpdateWikiList 2018-02-18 04:06:21-->
	<select id="selectUpdateWikiList" resultType="xyz.lunab.yywiki.dto.WikiHeadDTO">
		SELECT 
		w.title "title", c1.regdate "regdate", COUNT(*) "count"
		FROM 
		wiki w, wiki_content c1, wiki_content c2
		WHERE 
		w.wiki_id = c1.wiki_id 
		AND
		w.wiki_id = c2.wiki_id
		GROUP BY w.title, c1.regdate HAVING c1.regdate = max(c2.regdate)
		ORDER BY c1.regdate DESC
		LIMIT 5
	</select>
	
	<!-- resultMap -->
	<resultMap type="xyz.lunab.yywiki.domain.WikiContentVO" id="wikiContentMap">
		<result property="wiki_id" column="wiki_id"/>
		<result property="content" column="content"/>
		<result property="user_id" column="user_id"/>
		<result property="user_ip" column="user_ip"/>
		<result property="summary" column="summary"/>
		<result property="regdate" column="regdate"/>
	</resultMap>
	
	<!-- insertContent -->
	<insert id="insertContent">
		INSERT
		INTO wiki_content (wiki_id, content, user_id, user_ip, summary, regdate)
		VALUES (#{wiki_id}, #{content}, #{user_id}, #{user_ip}, #{summary}, CURRENT_TIMESTAMP)
	</insert>
	
</mapper>